$palette-bg: #158784
$palette-bg2: #f2f2f2
$palette-bg3: #fff
$palette-nav-entry-bg: #158784
$palette-nav-copyright-bg: #3e3e3e
$palette-nav-toggle-button-bgcolor: #5bcbf3
$palette-nav-toggle-button-fgcolor: #0579ad
$palette-input-text: #808080
$palette-views-bg: #f2f2f2
$palette-title: #4d4d4d
$palette-title-span: #158784
$palette-table-header-line: #158784
$palette-table-body-line: #4d4d4d
$palette-table-border: #f2f2f2
$palette-table-insert-into-link: #0ac99e
$palette-table-loading-bg: #158784
$palette-dialog-title: #158784
$palette-tabs-pagination-item-bg: #f2f2f2
$palette-tabs-pagination-item-fg: #3e3e3e
