html {
  font-size: 62.5%;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
}

body.app-body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.md-api-table {
  margin-bottom: 16px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;
  overflow: hidden;
}

.app-tools .md-button.md-icon-button {
  min-height: 0;
  height: auto;
}

.app-anchor {
  color: inherit;
}

.md-fab.app-scroll-fab {
  position: fixed !important;

  transform: scale(0);
  transition: transform 0.2s;
}

.app-scroll-fab.scrolling {
  transform: scale(1);
}

#license-footer {
  align-self: flex-end;
  padding: 16px 32px;
  width: 100%;

  text-align: center;
  font-size: small;
  border-top: 1px solid #ddd;
}

.training_link {
  color: rgb(255,82,82);
  text-transform: none;
}

.training_site {
  text-transform: none;
}

.training_info {
  opacity: 0.4;
  text-transform: none;
}
/***************
 * TYPE DEFAULTS
 ***************/
a {
  text-decoration: none;
  font-weight: 400;
  transition: border-bottom 0.35s;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}
h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}
h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}
strong {
  font-weight: 500;
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.12);
  font-style: italic;
  margin-left: 0;
  padding-left: 16px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin-left: 16px;
  padding: 0;
  margin-top: 3px;
  list-style-position: inside;
}
ul li:first-child {
  margin-top: 0;
}
/************
 * UTILS
 ************/
ul.skip-links li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.skip-links li a {
  background-color: #fff;
  display: block;
  margin: 0.5em 0 0.5em 0.5em;
  opacity: 0;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 92%;
  transition: opacity   0.15s linear;
}
ul.skip-links li a:focus {
  background-color: #fff !important;
  opacity: 1;
  z-index: 2;
}
/************
 * DOCS MENU
 ************/
.site-sidenav {
	background: #0d5250;
}
.site-sidenav md-content {
  background: #0d5250 !important;
}
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width:     272px;
  min-width: 272px;
  max-width: 272px;
}
.site-sidenav > * {
  min-width: 218px;
}

.app-menu,
.app-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.app-menu li {
  margin: 0;
}
.app-menu > li:nth-child(1) {
  border-top: none;
}
.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.app-menu > li {
  border-bottom: 1px solid #158784;
}

.app-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

html[dir=rtl] .app-menu .md-button,
body[dir=rtl] .app-menu .md-button {
  unicode-bidi: embed;
  text-align: right;
}


.app-menu .md-button:hover,
.app-menu .md-button:focus {
  background: #158784 !important;
}

.app-menu .md-button md-icon {
  color: white;
}

.app-menu md-select {

 /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
    to not be scrollable.
  */
  margin: 0;
  width: 100%;
}

.app-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.app-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.app-menu md-select .md-select-icon {
  margin-right: 28px;
}

.app-menu button.md-button::-moz-focus-inner {
  padding: 0;
}
.app-menu .md-button.active {
  background: #158784;
}
.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54)
}


html[dir=rtl] .menu-heading,
body[dir=rtl] .menu-heading {
  unicode-bidi: embed;
  text-align: right;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 0;
}
.app-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.parent-list-item:last-child {
  margin-bottom: 20px;

  /* Prevent the hidden License link from causing a double bottom-border */
  border-bottom: none;
}
.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  /*speak: none;*/
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
}

/* End Docs Menu */

.app-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 16px;
  margin: 0 auto;
}
.app-logo:focus {
  outline: none;
}
.app-logo > img {
  height: 150px;
  width: auto;
  display: block;
  transform-origin: 50% 0;
  transform: scale(1.2);
}
.nav-header {
	background-image: linear-gradient(#093836, #0d5250);
  border-bottom: 1px solid #158784;
  flex-shrink: 0;
  z-index: 2;
}
a.app-logo {
  border-bottom: none;
}
.app-logotype {
  color: white;
  text-align: center;
  font-family: brandon-grotesque;
  font-style: italic;
  font-weight: 700;
  font-size: 26px;
}
.app-menu-separator-icon {
  margin: 0;
}
.app-menu-separator-icon img {
  height: 16px;
}
.md-breadcrumb {
  font-family: brandon-grotesque;
  font-size: 24px !important;
  font-weight: 400 !important;
  color: #3e3e3e;
  text-transform: uppercase;
}
.md-breadcrumb md-icon {
  color: #666 !important;
  fill: #666 !important;
}
.md-breadcrumb-page {
  display: inline-block;
  word-wrap: break-word;
}
.app-toolbar-tools {
  max-width: 864px;
  padding: 0;
  margin: 0 24px;
  width: auto;
}
.app-tools .md-button,
.app-tools .md-button md-icon {
  color: #666 !important;
}
.app-toolbar-tools .md-button md-icon {
  color: #666 !important;
  fill: #666 !important;
}
@media (max-width: 400px) {
  .app-tools {
    display: none;
  }
}
.layout-content,
.app-content {
  max-width: 864px;
  margin: 16px;
  box-sizing: border-box;
}
docs-demo {
  display: block;
  margin-top: 16px;
}
.doc-description p {
  margin-top: 0;
}
.demo-container {
  border-radius: 4px;
  margin-bottom: 16px;
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;
}
.demo-source-tabs {
  z-index: 1;
  transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  height: 448px;
  background: #fff;
  overflow: hidden;
}
.demo-source-tabs md-tabs-wrapper {
  background-color: #2C80D2 !important;
}

md-tabs.demo-source-tabs md-tab,
md-tabs.demo-source-tabs .md-header {
  background-color: #444444 !important;
}


md-tabs.demo-source-tabs md-tab-label {
  color: #ccc !important;
}

md-tabs.demo-source-tabs .active md-tab-label {
  color: #fff !important;
}

.demo-source-tabs.ng-hide {
  min-height: 0;
  height: 0;
}
.demo-source-tabs {
  position: relative;
  width: 100%;
  z-index: 0;
}
.demo-content {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: white;
  border-radius: 3px 3px 0 0;
}
.small-demo .demo-source-tabs:not(.ng-hide) {
  height: 224px;
}
.small-demo .demo-content {
  min-height: 128px;
}

.app-content > * {
  flex: 1 1 auto;
}
.demo-content > * {
  flex: 1 1 0%;
}

.demo-content > div[layout-fill] {
  min-height: 448px;
}
.demo-content > div.layout-fill {
  min-height: 448px;
}
.small-demo .demo-content > div[layout-fill] {
  min-height: 224px;
}
.small-demo .demo-content > div.layout-fill {
  min-height: 224px;
}
.layout-content .small-demo .demo-content > div[layout],
.layout-options .small-demo .demo-content > div.layout {
  min-height: auto !important;
  max-height: auto !important;
  height: 128px !important;
}
.small-demo .demo-toolbar,
.small-demo .md-toolbar-tools {
  min-height: 48px;
  max-height: 48px;
}

md-toolbar.demo-toolbar {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}
md-toolbar.demo-toolbar md-tab-label {
  color: #99E4EE
}
md-toolbar.demo-toolbar .md-button:hover {
  background: rgba(0,0,0,0.1);
}
md-toolbar.demo-toolbar .md-button.active, md-toolbar.demo-toolbar .md-button.active md-icon {
  color: #418CD6;
}

md-toolbar.demo-toolbar .md-button {
  transition: all 0.3s linear;
  color: #616161;
}
.demo-source-container {
  display: block;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  height: 400px;
}
.demo-source-container hljs {
  margin-bottom: 0;
  border-radius: 0;
}
.show-source div[demo-include] {
  border-top: #ddd solid 2px;
}
.docs-list {
  padding: 16px;
}
.docs-descriptions h4 {
  margin: 0;
}
.docs-list md-divider {
  margin: 8px 0;
}
.docs-list li {
  list-style: none;
  margin: 0 0 8px;
}

/***************
 * Landing Page
 ***************/
ul.buckets {
  margin: 24px 0 24px -8px;
  padding: 0;
  position: relative;
}
ul.buckets li {
  list-style: none;
  margin: 0;
  text-align: center;
}
ul.buckets li md-card md-card-content {
  padding: 0;
}
ul.buckets li a {
  display: block;
  font-weight: 500;
  padding: 16px 0;
  text-decoration: none;
  background-color: #f6f6f6 !important;
  box-shadow: none !important;
  margin-right: 0;
  margin-top: 0;
}
ul.buckets li a,
ul.buckets li a md-icon {
  color: #666 !important;
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}
ul.buckets li a:hover,
ul.buckets li a:focus,
ul.buckets li a:hover md-icon,
ul.buckets li a:focus md-icon {
  color: #106CC8 !important;
  background-color: #ebebeb !important;
}

@media (max-width: 600px) {
  ul.methods > li {
    padding-left: 0;
    border-left: none;
    list-style: default;
  }
  ul.methods .method-function-syntax {
    font-size: 1.4rem;
  }
}

.demo-source-container pre,
.demo-source-container code {
  min-height: 100%;
}

md-content.demo-source-container {
  background-color: transparent;
  border: none;
}
.demo-container > md-tabs {
  border-radius: 0;
}

.dashed-bottom {
  border-bottom: dashed 1px rgb(224, 224, 224);
  padding-bottom: 10px;
}

.dashed-top {
  border-top: dashed 1px rgb(224, 224, 224);
  margin-top: 10px;
}

.api-section, .api-param-section {
  margin: 3em 0 0;
}
.api-section h3 {
  padding-top: 20px;
}
.responsive-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;
}
.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.no-style {
  padding: 0;
  list-style: none;
}

ul.methods {
  padding: 0;
  list-style: none;
}
ul.methods > li:first-child > *:first-child {
  padding-top: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.version-picker {
  background: #158784 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 1px !important;
}
.version-picker .menu-toggle-list {
  background: transparent !important;
}
md-icon.block {
  color: #106CC8;
  display: block;
  height: 50px;
  width:  50px;
}
.doc-demo-content {
  padding: 0;
}
docs-demo .doc-demo-content {
  margin: 16px;
}
.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #666 !important;
  z-index: 3;
}
.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #202020 !important;
  z-index: 3;
}
.service-desc {
  overflow: hidden;
  background: #E3ECF5;
  padding: 16px;
  margin: 0 0 8px;
}
.service-desc > p:first-child {
  margin-top: 0;
}
.service-desc > p:last-child {
  margin-bottom: 0;
}

/* Styles for Windows High Contrast mode */
@media screen and (-ms-high-contrast: active) {
  a {
    text-decoration: underline;
  }
  iframe, hljs pre {
    border: 1px solid #fff;
  }
}

.no-transition {
  transition: none !important;
}

table.attributes, table.md-api-table {
  padding-left:15px;
  margin-bottom: 20px;
}
table.attributes  tr  td:first-child {
  font-weight: bold;
  background-color: #DBEEF5;
}
table.attributes  tr  td:last-child {
  padding-left: 10px;
}

table.md-api-table:not(.md-css-table)  tr  td:first-child {
  font-weight: bold;
}

table.md-css-table .md-css-selector {
  display: block;
  padding: 8px 16px;

  /* Offset the padding of the <td> element */
  margin: -12px -16px 12px -16px;

  background-color: #0C2238;
  color: #9ccc65;
}

/* Fix some odd bottom margin */
table.md-css-table td p {
  margin: 0.8em 0;
}

.layout_note {
  font-size: 0.9em;
    margin: -5px 40px 0px 20px;
    color: rgb(1, 57, 114);
    background-color: rgba(156, 204, 101,0.4);
    padding: 20px;
}

.contributor_tables {
  padding-left: 25px;
}

.contributor_tables > table {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Provide some layout/padding enhancements for mobile/small devices */
@media(max-width: 500px) {
  /* Reduce the size of the nav logo/header */
  .app-logo > img {
    height: 75px;
    margin-top: 10px;
  }

  .app-logo h1 {
    font-size: 18px;
    line-height: 2rem;
  }

  /* Reduce the padding around standard doc content */
  .app-ng-view .app-content {
    margin: 8px;
    padding: 0;
  }

  /* Reduce the padding around doc demos */
  .app-ng-view docs-demo {
    padding: 0;
  }

  .app-ng-view docs-demo:first-child {
    margin-top: 0;
  }

  .app-ng-view docs-demo .doc-demo-content {
    margin: 0;
  }
}


.virtual #vertical-container {
  height: 45vh;
  width: 100%;
   }

md-toolbar-virtual {
  background-color: #0d5250;
  color: white;
}

.md-toolbar-tools a {
  color: white;
}

.md-toolbar-tools md-select span {
  color: white;
}

.md-checkbox-enabled.md-flyve-mdm[selected] .md-icon, .md-checkbox-enabled[selected] .md-icon {
    background-color: rgb(21,135,132);
}

md-sidenav.md-flyve-mdm-theme, md-sidenav.md-flyve-mdm-theme md-content {
    background-color: #0d5250;
}