<div class="app-content" ng-controller="FleetsCtrl">
  <div class="doc-demo-content doc-content">
    <div flex="" layout="column" layout-fill="true" ng-cloak="true">
      <section class="demo-container md-whiteframe-z1">
        <demo-include ng-cloak="true" class="virtual" flex="true">
          <div class="demo-content ng-scope " layout="column">
            <md-toolbar class="demo-toolbar">
              <div class="md-toolbar-tools">
                <!--<span flex="true"></span>-->
                <md-button hide-gt-sm="true" class="md-fab md-mini md-primary" aria-label="Favorite">
                  <md-icon md-svg-icon="actions:sort-ascending"></md-icon>
                </md-button>
                <md-menu hide="true" show-gt-sm="true">
                  <md-button aria-label="Actions" class="md-raised md-primary" ng-click="$mdOpenMenu($event)">
                    Actions
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item>
                      <md-button ng-click="redial($event)">
                        <md-icon md-svg-icon="actions:edit"></md-icon>
                        Edit
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="checkVoicemail()">
                        <md-icon md-svg-icon="actions:delete"></md-icon>
                        Delete
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="checkVoicemail()">
                        <md-icon md-svg-icon="actions:delete"></md-icon>
                        Duplicate
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                <md-menu hide="true" show-gt-sm="true">
                  <md-button aria-label="Actions" class="md-raised md-primary" ng-click="$mdOpenMenu($event)">
                    Fields
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item>
                      <md-button ng-click="redial($event)">
                        <md-icon md-svg-icon="actions:edit"></md-icon>
                        Edit
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="checkVoicemail()">
                        <md-icon md-svg-icon="actions:delete"></md-icon>
                        Delete
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="checkVoicemail()">
                        <md-icon md-svg-icon="actions:delete"></md-icon>
                        Duplicate
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                <md-menu hide="true" show-gt-sm="true">
                  <md-button aria-label="Sort" class="md-raised md-primary" ng-click="$mdOpenMenu($event)">
                    Sort
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item>
                      <md-button ng-click="redial($event)">
                        <md-icon md-svg-icon="actions:edit"></md-icon>
                        Edit
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="checkVoicemail()">
                        <md-icon md-svg-icon="actions:delete"></md-icon>
                        Delete
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                <md-menu hide="true" show-gt-sm="true">
                  <md-button aria-label="Sort" class="md-raised md-primary" ng-click="$mdOpenMenu($event)">
                    Order
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item>
                      <md-button ng-click="redial($event)">
                        <md-icon md-svg-icon="actions:edit"></md-icon>
                        Ascending
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="checkVoicemail()">
                        <md-icon md-svg-icon="actions:delete"></md-icon>
                        Descending
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                <!--
                <md-select ng-model="selectedVegetables" aria-label="Actions" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                  multiple>
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm" type="search" placeholder="Search for a vegetable.." class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-optgroup label="vegetables">
                    <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables |
              filter:searchTerm">{{vegetable}}</md-option>
                  </md-optgroup>
                </md-select>
                <md-select ng-model="selectedItem" aria-label="Learn More" md-selected-text="getSelectedText()" class="md-no-underline">
                  <md-optgroup label="Fields">
                    <md-option ng-value="item" ng-repeat="item in sortItems" md-theme="flyve-mdm">{{item}}</md-option>
                  </md-optgroup>
                </md-select>
                <md-select ng-model="selectedItemDir" aria-label="Learn More" md-selected-text="getSelectedTextDir()" class="md-no-underline">
                  <md-optgroup label="Direction">
                    <md-option ng-value="itemDir" ng-repeat="itemDir in ['Descending', 'Ascending']">{{itemDir}}</md-option>
                  </md-optgroup>
                </md-select>
                -->
                <!--
                <md-menu>
                  <md-button aria-label="Actions" class="md-raised" ng-click="$mdOpenMenu($event)">
                    Actions
                  </md-button>
                  <md-menu-content width="6">
                    <md-menu-item ng-repeat="item in [1, 2, 3]">
                      <md-button ng-click="ctrl.announceClick($index)">
                        <md-icon md-menu-align-target="true" md-svg-icon="actions:delete"></md-icon>
                        Option {{item}}
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                -->
                <span flex="true"></span>
                <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
                  <md-icon md-svg-icon="add"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-subheader hide="true" show-gt-sm="true" class="md-primary md-no-sticky" style="background-color: white; border-bottom: 1px solid rgba(0, 0, 0, 0.12);">{{subheader}}</md-subheader>
            <!--
            <md-virtual-repeat-container id="vertical-container">
              <div md-virtual-repeat="item in items" class="repeated-item" flex="true">
                {{item}}
              </div>
            </md-virtual-repeat-container>
            -->
            <md-virtual-repeat-container id="vertical-container">
              <md-list>
                <md-list-item md-virtual-repeat="item in infiniteItems" md-on-demand="true">
                  <md-checkbox ng-model="infiniteItems.data[item].is_selected" aria-label="{{infiniteItems.data[item]['PluginStorkmdmFleet.name']}}"
                    ng-disabled="infiniteItems.data[item]['PluginStorkmdmFleet.is_default']">
                  </md-checkbox>
                  <p> {{infiniteItems.data[item]["PluginStorkmdmFleet.name"]}} </p>
                  <md-icon md-svg-icon="actions:edit" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-2"
                    ng-disabled="infiniteItems.data[item]['PluginStorkmdmFleet.is_default']"></md-icon>
                  <md-icon md-svg-icon="actions:delete" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"
                    ng-disabled="infiniteItems.data[item]['PluginStorkmdmFleet.is_default']"></md-icon>
                  <md-divider inset="true"></md-divider>
                </md-list-item>
              </md-list>
            </md-virtual-repeat-container>

          </div>
        </demo-include>
      </section>

    </div>
  </div>
</div>