<div class="app-content" ng-controller="AgentsCtrl">
  <div class="doc-demo-content doc-content">
    <div flex="" layout="column" style="z-index:1" class="layout-column flex">
      <section class="demo-container md-whiteframe-z1">

        <md-toolbar class="demo-toolbar md-primary">
          <div class="md-toolbar-tools">
            <h3 class="ng-binding"></h3>
            <span flex="" class="flex"></span>
          </div>
        </md-toolbar>

        <!-- Live Demos -->
        <demo-include ng-cloak="true" class="virtual" flex="true">
          <div class="demo-content ng-scope ">
            <!--
            <md-list ng-controller="ListCtrl" ng-cloak="true">
              <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="md-3-line">
                <md-checkbox ng-model="person.selected"></md-checkbox>
                <div class="md-list-item-text" layout="column">
                  <h3>{{ person.name }}</h3>
                  <h4>Sony Xperia Z3</h4>
                  <p>Last contact 2 months ago</p>
                </div>
                <md-icon md-svg-icon="actions:edit" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-2"></md-icon>
                <md-icon md-svg-icon="actions:delete" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
              </md-list-item>
            </md-list>
            -->
            <md-virtual-repeat-container id="vertical-container">
              <md-list>
                <md-list-item md-virtual-repeat="item in infiniteItems" md-on-demand="true" class="md-3-line">
                  <md-checkbox ng-model="person.selected"></md-checkbox>
                  <div class="md-list-item-text" layout="column">
                    <h3>{{items[item].name}}</h3>
                    <h4>{{items[item].computer_model}}</h4>
                    <p>Last contact {{item}} months ago</p>
                  </div>
                  <md-icon md-svg-icon="actions:edit" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-2"></md-icon>
                  <md-icon md-svg-icon="actions:delete" ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                </md-list-item>
              </md-list>
            </md-virtual-repeat-container>
          </div>
        </demo-include>
      </section>

    </div>
  </div>
</div>