#credentials {
    margin-top: 40px;
}
#signIn .win-button {
    margin: 5px;
}
#createAccount .win-textbox {
    width: 100%;
}
#createAccount .win-button {
    width: 80%;
}
.LoginForm {
    max-width: 360px;
    margin: 0 auto;
}