html {
    overflow: auto;
}
a {
    text-decoration:none;
    color: #158784;
}
h1 {
    font-weight: normal;
}
ul {
    list-style:none
}
.loagind-form {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0.6;
}
.win-item {
    margin-left: 10px;
}
.centerText {
    text-align: center;
}
.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.win-toggleswitch-on .win-toggleswitch-track {
    background-color: #158784 !important;
}
.hide {
    display: none !important;
}