body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
form input {
  background-color: #ffffff;
  border:1px solid #cccccc;
  color: #000000;
  width: 100%;
  height: 2.5rem;
  margin: 0px 0px 1rem 0px;
}
input:focus {
    outline-width: 0;
    border:1.7px solid #158784;
}
html {
    overflow: auto;
}
.loagind-form {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0.6;
}
a {
    text-decoration:none;
    color: #158784;
}
a:visited {
    color: #158784;
}
.win-item {
    margin-left: 10px;
}
h1 {
    font-weight: normal;
}