/* Base colors */
.color-white {
  background-color: rgb(255, 255, 255) !important;
}
.color-gray {
  background-color: rgb(62, 62, 62) !important;
}
.color-accent {
  background-color: rgb(21, 135, 132) !important;
}
.color-alert {
  background-color: rgb(236, 39, 48) !important;
}

/* Background colors */
.color-bg-light-vivid-high {
  background-color: rgb(255, 255, 255) !important;
} 
.color-bg-light-vivid-mid {
  background-color: rgb(242, 242, 242) !important;
} 
.color-bg-light-vivid-low {
  background-color: rgb(229, 229, 229) !important;
} 
.color-bg-light-neutral-high {
  background-color: rgb(217, 217, 217) !important;
} 
.ccolor-bg-light-neutral-mid {
  background-color: rgb(204, 204, 204) !important;
} 
.color-bg-dark-vivid-high {
  background-color: rgb(62, 62, 62) !important;
} 
.color-bg-dark-vivid-mid {
  background-color: rgb(25, 25, 25) !important;
} 
.color-bg-dark-vivid-low {
  background-color: rgb(38, 38, 38) !important;
} 
.color-bg-dark-neutral-high {
  background-color: rgb(51, 51, 51) !important;
} 
.color-bg-dark-neutral-mid {
  background-color: rgb(64, 64, 64) !important;
} 

/* Fill colors */
.color-fill-accent-vivid-high {
  background-color: 21, 135, 132 !important;
}
.color-fill-accent-vivid-mid {
  background-color: rgba(21, 135, 132, 0.8) !important;
} 
.color-fill-accent-vivid-low {
  background-color: rgba(21, 135, 132, 0.6) !important;
} 
.color-fill-accent-neutral-high {
  background-color: rgba(21, 135, 132, 0.4) !important;
} 
.color-fill-accent-neutral-mid {
  background-color: rgba(21, 135, 132, 0.3) !important;
} 
.color-fill-accent-neutral-low {
  background-color: rgba(21, 135, 132, 0.2) !important;
} 
.color-fill-accent-dim-high {
  background-color: rgba(21, 135, 132, 0.15) !important;
} 
.color-fill-accent-dim-mid {
  background-color: rgba(21, 135, 132, 0.1) !important;
} 
.color-fill-accent-dim-low {
  background-color: rgba(21, 135, 132, 0.05) !important;
} 
.color-fill-alert {
  background-color: rgb(236, 39, 48) !important;
}
.color-fill-dim-high {
  background-color: rgba(62, 62, 62, 0.05) !important;
}
.color-fill-dim-mid {
  background-color: rgba(62, 62, 62, 0.1) !important;
}
.color-fill-neutral-low {
  background-color: rgba(62, 62, 62, 0.2) !important;
}
.color-fill-neutral-mid {
  background-color: rgba(62, 62, 62, 0.3) !important;
}
.color-fill-neutral-high {
  background-color: rgba(62, 62, 62, 0.4) !important;
}
.color-fill-vivid-low {
  background-color: rgba(62, 62, 62, 0.6) !important;
}
.color-fill-vivid-mid {
  background-color: rgba(62, 62, 62, 0.8) !important;
}
.color-fill-vivid-high {
  background-color: rgb(62, 62, 62) !important;
}

/* Line colors */
.color-line-accent-vivid-high {
  border-color: rgb(21, 135, 132) !important;
}
.color-line-accent-vivid-mid {
  border-color: rgba(21, 135, 132, 0.8) !important;
} 
.color-line-accent-vivid-low {
  border-color: rgba(21, 135, 132, 0.6) !important;
} 
.color-line-accent-neutral-high {
  border-color: rgba(21, 135, 132, 0.4) !important;
} 
.color-line-accent-neutral-mid {
  border-color: rgba(21, 135, 132, 0.3) !important;
} 
.color-line-accent-neutral-low {
  border-color: rgba(21, 135, 132, 0.2) !important;
} 
.color-line-accent-dim-high {
  border-color: rgba(21, 135, 132, 0.15) !important;
} 
.color-line-accent-dim-mid {
  border-color: rgba(21, 135, 132, 0.1) !important;
} 
.color-line-accent-dim-low {
  border-color: rgba(21, 135, 132, 0.05) !important;
} 
.color-line-alert {
  border-color: rgb(236, 39, 48) !important;
}
.color-line-dim-high {
  border-color: rgba(62, 62, 62, 0.05) !important;
}
.color-line-dim-mid {
  border-color: rgba(62, 62, 62, 0.1) !important;
}
.color-line-neutral-low {
  border-color: rgba(62, 62, 62, 0.2) !important;
}
.color-line-neutral-mid {
  border-color: rgba(62, 62, 62, 0.3) !important;
}
.color-line-neutral-high {
  border-color: rgba(62, 62, 62, 0.4) !important;
}
.color-line-vivid-low {
  border-color: rgba(62, 62, 62, 0.6) !important;
}
.color-line-vivid-mid {
  border-color: rgba(62, 62, 62, 0.8) !important;
}
.color-line-vivid-high {
  border-color: rgb(62, 62, 62) !important;
}

/* Text colors */
.color-type-primary {
  color: rgb(62, 62, 62) !important;
}
.color-type-secondary {
  color: rgba(62, 62, 62, 0.6) !important;
}
.color-type-disabled {
  color: rgba(62, 62, 62, 0.2) !important;
}
.color-type-accent {
  color: rgb(21, 135, 132) !important;
}
.color-type-alert {
  color: rgb(236, 39, 48) !important;
}
.color-type-primary-alt {
  color: rgb(255, 255, 255) !important;
}
.color-type-secondary-alt {
  color: rgba(255, 255, 255, 0.6) !important;
}
.color-type-disabled-alt {
  color: rgba(255, 255, 255, 0.2) !important;
}