<div class="view account-panel" ng-cloak="true">
  <h2 class="collection-infos">
    Account Settings
  </h2>
  <div class="table-container account-page">
    <div class="table-wrapper">
      <div class="fixed-header-background">
        <p class="collection-infos"><span class="account-title">Account Settings</span></p>
      </div>
      <md-tabs md-dynamic-height="true" md-selected="selectedTab">
        <md-tab>
          <md-tab-label>Entity</md-tab-label>
          <md-tab-body>
            <md-list flex="true">
              <md-subheader class="md-no-sticky">Agent</md-subheader>
              <md-list-item class="secondary-button-padding">
                <p>Token life</p>
                <md-button class="md-secondary md-primary" ng-click="editTokenLife($event)">{{tokenLife}} days</md-button>
              </md-list-item>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3>Download URL</h3>
                  <p>{{downloadUrl}}</p>
                </div>
                <md-button class="md-secondary md-primary" ng-click="changeDownloadUrl($event)">Change</md-button>
              </md-list-item>
              <md-subheader class="md-no-sticky">Configuration</md-subheader>
              <md-list-item class="secondary-button-padding">
                <p>Entity ID</p>
                <p class="md-secondary">{{entityId}}</p>
              </md-list-item>
              <md-list-item class="secondary-button-padding">
                <p>Maximum managed devices</p>
                <p class="md-secondary">{{deviceLimit}}</p>
              </md-list-item>
              <md-subheader class="md-no-sticky">General information</md-subheader>
              <md-list-item class="secondary-button-padding">
                <p>Devices currently managed</p>
                <p class="md-secondary">{{deviceCount}}</p>
              </md-list-item>
              <md-list-item class="secondary-button-padding">
                <p>Fleets currently managed</p>
                <p class="md-secondary">{{fleetsCount}}</p>
              </md-list-item>
              <md-list-item class="secondary-button-padding">
                <p>Files uploaded</p>
                <p class="md-secondary">{{filesCount}}</p>
              </md-list-item>
              <md-list-item class="secondary-button-padding">
                <p>Applications uploaded</p>
                <p class="md-secondary">{{applicationsCount}}</p>
              </md-list-item>
              <md-list-item class="secondary-button-padding">
                <p>Number of users</p>
                <p class="md-secondary">{{usersCount}}</p>
              </md-list-item>
              <md-list-item class="secondary-button-padding">
                <p>Invitations sent</p>
                <p class="md-secondary">{{invitationsCount}}</p>
              </md-list-item>
              <md-list-item class="secondary-button-padding">
                <p>Types of policies</p>
                <p class="md-secondary">{{policiesCount}}</p>
              </md-list-item>
              <md-list-item class="secondary-button-padding">
                <p>Number of categories for policies</p>
                <p class="md-secondary">{{categoriesCount}}</p>
              </md-list-item>
              <!--
              <md-list-item class="secondary-button-padding">
                <p>Upload max file size</p>
                <p class="md-secondary">∞</p>
              </md-list-item>
              -->
              <md-divider></md-divider>
            </md-list>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>Profile</md-tab-label>
          <md-tab-body>
            <md-content layout-padding="true">
              <form name="userForm" ng-submit="saveUser()">
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs="true">
                    <label>Login</label>
                    <input ng-model="user.username" disabled="true">
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-icon-float md-block" flex-gt-sm="true">
                    <label>First name</label>
                    <md-icon class="fa fa-user fa-lg md-primary" aria-hidden="true"></md-icon>
                    <input ng-model="user.firstname" type="text">
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm="true">
                    <label>Last Name</label>
                    <input ng-model="user.realname" />
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-icon-float md-block" flex-gt-sm="true">
                    <label>Phone</label>
                    <md-icon class="fa fa-phone fa-lg md-primary" aria-hidden="true"></md-icon>
                    <input ng-model="user.phone" type="tel" />
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm="true">
                    <label>Mobile phone</label>
                    <input ng-model="user.mobile" type="tel" />
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-icon-float md-block" flex-gt-sm="true">
                    <label>Phone 2</label>
                    <md-icon class="fa fa-phone fa-lg md-primary" aria-hidden="true"></md-icon>
                    <input ng-model="user.phone2" type="tel" />
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm="true">
                    <label>Administrative number</label>
                    <input ng-model="user.registration_number" type="number" />
                  </md-input-container>
                </div>
                <div layout-gt-xs="row">
                  <md-input-container class="md-icon-float md-block" flex-gt-sm="true">
                    <label>Last login</label>
                    <md-icon class="fa fa-calendar-o fa-lg md-primary" aria-hidden="true"></md-icon>
                    <input ng-model="user.last_login" disabled="true">
                  </md-input-container>
                  <md-input-container>
                    <label>Created</label>
                    <input ng-model="user.date_creation" disabled="true">
                  </md-input-container>
                  <md-input-container>
                    <label>Modified</label>
                    <input ng-model="user.date_mod" disabled="true">
                  </md-input-container>
                </div>
              </form>
            </md-content>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>Security</md-tab-label>
          <md-tab-body>
            <md-list flex="true">
              <md-list-item class="md-2-line secondary-button-padding">
                <div class="md-list-item-text">
                  <h3>Password</h3>
                  <p>Change your FlyveMDM Account password.</p>
                </div>
                <md-button class="md-warn" ng-click="changePassword($event)">Edit</md-button>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line secondary-button-padding">
                <div class="md-list-item-text">
                  <h3>Kill session</h3>
                  <p>Destroy the session identified by your session token.</p>
                </div>
                <md-button class="md-warn" ng-click="disconnect($event)">logout</md-button>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line secondary-button-padding">
                <div class="md-list-item-text">
                  <h3>Delete browser data</h3>
                  <p>Delete Web Storage and Indexed Database</p>
                </div>
                <md-button class="md-warn" ng-click="deleteBrowserData($event)">Delete</md-button>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item class="md-2-line secondary-button-padding">
                <div class="md-list-item-text">
                  <h3>Delete account</h3>
                  <p>This action remove all information related to the user and the entity</p>
                </div>
                <md-button class="md-warn" ng-click="deleteAccount($event)">Delete</md-button>
              </md-list-item>
            </md-list>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>Notifications</md-tab-label>
          <md-tab-body>
            <md-list>
              <md-subheader class="md-no-sticky">End-user notifications (saved only in this browser)</md-subheader>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3>Show notifications</h3>
                  <p>For error messages is always enabled</p>
                </div>
                <md-switch class="md-primary" ng-model="notification.enable" ng-change="enableNotification(notification.enable)"></md-switch>
              </md-list-item>
              <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <h3>Notification type</h3>
                  <p>{{notificationMsg}}</p>
                </div>
                <md-menu class="md-secondary">
                  <md-button class="md-primary">{{notification.type}}</md-button>
                  <md-menu-content>
                    <md-menu-item ng-repeat="notificationType in notifications">
                      <md-button ng-click="changeNotificatioType(notificationType)">
                        {{notificationType}}
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>Display</md-tab-label>
          <md-tab-body>
            <md-list>
              <md-subheader class="md-no-sticky">Language</md-subheader>
              <md-list-item>
                <p>Change interface language</p>
                <md-menu class="md-secondary">
                  <md-button class="md-primary">{{language.name}}</md-button>
                  <md-menu-content>
                    <md-menu-item ng-repeat="lang in languages">
                      <md-button ng-click="changeLanguage(lang)" ng-disabled="lock_language">
                        {{lang.name}}
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-list-item>
              <md-subheader class="md-no-sticky">Show in dashboard</md-subheader>
              <md-list-item>
                <p>Maximum managed devices</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.max_devices" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Devices currently managed</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.devices" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Fleets currently managed</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.fleets" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Files uploaded</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.files" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Applications uploaded</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.applications" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Number of users</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.users" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Invitations sent</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.invitations" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Devices by users</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.devices_users" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-list-item>
                <p>Devices by Operating System version</p>
                <md-checkbox class="md-secondary" ng-model="dashboard.devices_os" ng-change="dashboardView()"></md-checkbox>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </div>
    <div ng-show="selectedTab === 1" class="fab-action-box">
      <md-button type="button" aria-label="actions for position" class="md-fab md-primary" ng-disabled="lock_save_user" ng-click="saveUser()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </md-button>
    </div>
  </div>
</div>