<section class="login-page">
  <div class="container" layout="column" layout-padding="" layout-wrap="" layout-fill="" ng-cloak="">
    <md-card class="login-card">
      <img ng-src="images/logo-flyve-login.png" class="md-card-image" alt="Flyve MDM Logo">
      <md-card-actions layout="row" layout-align="center center">
        <md-button ng-click="goToLogin($event)" ng-if="show_login">Login page</md-button>
        <md-button class="md-raised md-primary" ng-click="validateAccount($event)" ng-disabled="lock_submit" ng-if="!show_login">Validate account</md-button>
      </md-card-actions>
    </md-card>
  </div>

  <div class="md-body-1 layout-margin foo" layout="row" layout-align="end center">
    <p>A solution powered by</p>
    <a href="http://teclib-edition.com/en/" target=_blank title="Teclib'' Web Site"><img src="images/logo-teclib-blanc-1-2.png" alt="Flyve Logo" height="24"></a>
  </div>
</section>