<div class="view dashboard">
  <h2 class="collection-infos">Dashboard</h2>
  <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2"
    md-gutter="12px" md-gutter-gt-sm="8px">

    <md-grid-tile class="white" md-rowspan="3" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
      <md-list>
        <md-list-item ng-repeat="device in devicesByRealName" ng-click="editDevice(device.id)">
          <p> {{ device.realname }} </p>
        </md-list-item>
      </md-list>
      <md-grid-tile-footer>
        <h3>Devices by Users</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="white link" ng-click="links('devices')">
      <h2 class="collection-infos">{{devices}}</h2>
      <md-grid-tile-footer>
        <h3>Devices</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="white link" ng-click="links('admin_fleets')">
      <h2 class="collection-infos">{{fleets}}</h2>
      <md-grid-tile-footer>
        <h3>Fleets</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="white link" ng-click="links('admin_applications')">
      <h2 class="collection-infos">{{applications}}</h2>
      <md-grid-tile-footer>
        <h3>Applications</h3>
      </md-grid-tile-footer>
    </md-grid-tile>


    <md-grid-tile class="white link" ng-click="links('admin_files')">
      <h2 class="collection-infos">{{files}}</h2>
      <md-grid-tile-footer>
        <h3>Files</h3>
      </md-grid-tile-footer>
    </md-grid-tile>


    <md-grid-tile class="white link" ng-click="links('admin_users')">
      <h2 class="collection-infos">{{users}}</h2>
      <md-grid-tile-footer>
        <h3>Users</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="white" md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
      <canvas id="invitations" class="chart chart-doughnut" chart-data="invitations.data" chart-labels="invitations.labels" chart-dataset-override="invitations.dataset"></canvas>
      <md-grid-tile-footer>
        <h3>Invitations</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="white" md-colspan="3" md-rowspan="2">
      <canvas class="chart chart-bar" chart-data="devices_os.data" chart-labels="devices_os.labels" chart-series="devices_os.series"
        chart-colors="devices_os.colors" chart-dataset-override="devices_os.dataset"></canvas>
      <md-grid-tile-footer>
        <h3>Devices by Operating System version</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
  <div class="fab-action-box">
    <md-button type="button" aria-label="actions for position" class="md-fab md-accent" ng-disabled="lock_refresh" ng-click="refreshDashboard(true)">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </md-button>
  </div>
</div>