<md-dialog class="flyve-dialog" aria-label="Editing Policy" flex="40">
  <div class="dialog-header">
    <h2>{{ policy.name }}</h2>
    <span flex="true"></span>
    <md-button class="md-icon-button close-dialog-button" ng-click="cancel()" aria-label="Closes window which helps editing policy">
      <i class="fa fa-times"></i>
    </md-button>
  </div>
  <md-dialog-content class="md-dialog-content" role="document" tabindex="-1">
    <div ng-if="::dialog.mdHtmlContent" class="md-dialog-content-body" ng-bind-html="::dialog.mdHtmlContent"></div>
    <div class="md-dialog-content-body">
      <p>{{ policy.comment }}</p>
    </div>
    <md-input-container md-no-float="true" ng-if="policy.type === 'bool'" class="md-prompt-input-container">
      <md-checkbox ng-model="policy.value" aria-label="{{ policy.name }}" ng-true-value="1" ng-false-value="0">
        {{ policy.symbol }}
      </md-checkbox>
    </md-input-container>
    <md-input-container ng-if="policy.type === 'int'" md-no-float="true" class="md-prompt-input-container">
      <input md-autofocus="true" ng-model="policy.value" placeholder="0" aria-label="{{ policy.name }}">
    </md-input-container>
    <md-input-container md-no-float="true" ng-if="policy.type === 'dropdown'" class="md-prompt-input-container">
      <md-select ng-model="policy.value" aria-label="{{ policy.name }}">
        <md-option ng-repeat="(key, value) in types" value="{{key}}">
          {{value}}
        </md-option>
      </md-select>
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
    <md-button ng-click="save(policy.value)" class="md-primary">Accept</md-button>
  </md-dialog-actions>
</md-dialog>'