<md-dialog class="flyve-dialog" flex="66">
  <div class="dialog-header">
    <h2>Edit File</h2>
    <span flex="true"></span>
    <md-button class="md-icon-button close-dialog-button" ng-click="cancel()" aria-label="Closes window which helps creating new device">
      <i class="fa fa-times"></i>
    </md-button>
  </div>
  <div class="dialog-content">
    <form ng-submit="saveFile()">
      <md-content>
        <md-input-container>
          <label>File Name</label>
          <input type="text" ng-model="file.name" autocomplete="off" md-autofocus="true" />
        </md-input-container>
      </md-content>
      <md-dialog-actions layout="row">
        <md-button class="md-raised md-warn" ng-click="cancel()" aria-label="Cancel">Cancel</md-button>
        <md-button class="md-raised md-primary" ng-disabled="lock_submit" type="submit" aria-label="Save">Save</md-button>
      </md-dialog-actions>
    </form>
  </div>
</md-dialog>