<section class="login-page">
  <div class="container" layout="column" layout-padding="" layout-wrap="" layout-fill="" ng-cloak="">
    <!--
    <div layout="row" layout-align="center center">
      <img src="images/logo-flyve.png" alt="Flyve Logo" class="logo">
    </div>
    -->
    <form ng-submit="attemptLogin()">
      <md-card class="login-card">
        <img ng-src="images/logo-flyve-login.png" class="md-card-image" alt="Flyve MDM Logo">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Mobile Device Management</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container class="md-icon-float md-block" flex-gt-sm="true">
            <label>Username</label>
            <md-icon class="fa fa-user fa-lg md-warn" aria-hidden="true"></md-icon>
            <input ng-model="loginCredentials.username" type="text" autocomplete="username" name="email" required="true">
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex-gt-sm="true">
            <label>Password</label>
            <md-icon class="fa fa-unlock-alt fa-lg md-warn" aria-hidden="true"></md-icon>
            <input ng-model="loginCredentials.password" type="password" autocomplete="current-password" name="password" required="true">
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="openRegistrationDialog($event)">SignUp</md-button>
          <md-button type="submit" class="md-raised md-primary">Login</md-button>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</section>
<div class="md-body-1 layout-margin foo" layout="row" layout-align="end center">
  <p>A solution powered by</p>
  <a href="http://teclib-edition.com/en/" target=_blank title="Teclib'' Web Site"><img src="images/logo-teclib-blanc-1-2.png" alt="Flyve Logo" height="24"></a>
</div>